@use '@/styles/mixins.scss' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.greyTextWrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-left: 33.33%;
  padding: 0 24px;

  p {
    font-family: var(--font-secondary);
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.36px;
    color: var(--color-text-secondary);
  }

  @include lg {
    margin-left: 0;
    padding: 0 var(--section-padding-size);
  }

  @include sm {
    p {
      font-size: 16px;
      letter-spacing: -0.32px;
    }
  }
}