.errorWrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    justify-content: center;
    padding: 24px var(--section-padding-size);
    width: 100%;

    h2 {
        font-size: 18px;
        font-weight: 492;
        line-height: 110%; /* 26.4px */
    }

    p {
        font-family: var(--font-secondary);
        font-size: 16px;
        font-weight: 400;
        line-height: 126%; /* 27.72px */
        letter-spacing: -0.66px;
    }

    &.fullHeight {
        min-height: 50vh;

        h2 {
            font-size: 34px;
            font-weight: 584;
            line-height: 112%; /* 38.08px */
        }

        p {
            font-family: var(--font-secondary);
            font-size: 22px;
            font-weight: 400;
            line-height: 126%; /* 27.72px */
            letter-spacing: -0.66px;
        }
    }
}

.textWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.buttonWrapper button {
    padding: 24px 32px;
}