@use '@/styles/mixins.scss' as *;

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.labelContainer {
    display: flex;

    &.withLabel {
        .title,
        .description {
            width: 66.66%;
        }
    }

    &:not(.withLabel) {
        .title,
        .description {
            margin-left: 33.33%;
        }
    }

    @include lg {
        flex-direction: column;
        gap: 16px;

        &.withLabel {
            .title,
            .description {
                width: 100%;
            }
        }

        &:not(.withLabel) {
            .title,
            .description {
                margin-left: 0;
            }
        }
    }
}
.label {
    display: flex;
    width: 33.33%;
    font-family: var(--font-secondary);
    font-size: 16px;
    font-weight: 400;
    line-height: 124%; /* 19.84px */
    letter-spacing: -0.32px;
    color: var(--color-text-secondary);
    padding-left: 24px;

    @include lg {
        padding-left: 0;
        width: 100%;
    }
}

.titleLabelWrapper {
    display: flex;
    width: 33.33%;
    align-items: flex-start;
}
.title {
    padding: 0 24px;
    font-family: var(--font-primary);
    font-style: normal;

    &.h1 {
        font-size: 48px;
        font-weight: 584;
        line-height: 100%; /* 48px */
    }

    &.h2 {
        font-size: 34px;
        font-weight: 584;
        line-height: 112%; /* 38.08px */
    }

    &.h3 {
        font-size: 24px;
        font-weight: 492;
        line-height: 110%; /* 26.4px */
    }

    @include lg {
        padding: 0;
    }

    @include sm {
        &.h1 {
            font-size: 34px;
            line-height: 112%; /* 38.08px */
        }

        &.h2 {
            font-size: 24px;
            line-height: 110%; /* 26.4px */
        }

        &.h3 {
            font-size: 20px;
            font-weight: 492;
            line-height: 110%; /* 22px */
        }
    }
}

.decorateBlock {
    font-family: var(--font-secondary);
    font-size: 18px;
    font-weight: 400;
    line-height: 124%; /* 22.32px */
    letter-spacing: -0.36px;
    color: rgba(88, 88, 88, 0);
    margin-left: 33.33%;
    position: relative;

    @include lg {
        margin-left: 0;
    }

    &:after {
        position: absolute;
        content: '';
        right: 0;
        bottom: 0;
        height: 1px;
        width: 0;
        background-color: var(--color-border-general);
        transition: width 600ms cubic-bezier(0.85, 0.09, 0.15, 0.91);
    }

    .contrast & {
        color: rgba(255, 255, 255, 0);

        .visible & {
            color: rgba(255, 255, 255, 0.6);
        }
    }

    .visible & {
        color: var(--color-text-secondary);
        transition: color 600ms cubic-bezier(0.85, 0.09, 0.15, 0.91) 600ms;

        &:after {
            width: 100%;
        }
    }
}

.description{
    padding: 0 24px;
    transform: translate(0, 20px);
    opacity: 0;
    transition: transform 0s linear 0s;

    .visible & {
        transform: translate(0, 0);
        opacity: 1;
        transition: transform 600ms cubic-bezier(0.85, 0.09, 0.15, 0.91) 0ms, opacity 600ms cubic-bezier(0.85, 0.09, 0.15, 0.91) 0ms;
    }

    a {
        transition: all var(--transition-duration);

        @include nonTouchDevice {
            &:hover {
                color: var(--color-primary);
            }
        }
    }

    &.lg {
        font-size: 34px;
        font-weight: 400;
        line-height: 112%; /* 38.08px */
    }

    &.md {
        font-family: var(--font-secondary);
        font-size: 22px;
        font-weight: 400;
        line-height: 126%; /* 27.72px */
        letter-spacing: -0.66px;
    }

    &.fullWidth {
        margin-left: 33.33%;

        @include lg {
            margin-left: 0;
        }
    }

    &.partialWidth {
        width: 66.66%;

        @include lg {
            width: 100%;
        }
    }

    @include lg {
        padding: 0;
    }

    @include sm {
        &.lg {
            font-size: 24px;
        }

        &.md {
            font-size: 18px;
            line-height: 124%; /* 22.32px */
            letter-spacing: -0.36px;
        }
    }
}

.contrast {
    .label {
        opacity: 0.6;
        color: var(--color-white);
    }

    .description {
        color: var(--color-white);
    }
}
